<div class="row">
    <div class="col s12">
        <h2>ML Weather App</h2>
    </div>
</div>
<div class="row">
    <div class="col s12 l6">
        <form action="/api/get-weather" method="POST">
            <div class="row">
                <div class="col s6 l5">
                    <label>
                        <input name="type" type="radio" value="geo">
                        <span>Координаты</span>
                    </label>
                </div>
                <div class="col s6 l5">
                    <label>
                        <input name="type" type="radio" checked value="place">
                        <span>Город</span>
                    </label>
                </div>
            </div>
            <div class="row type-field-row" id="place-field-row">
                <div class="input-field col s12 l6">
                    <input id="city" type="text" name="city" class="city-autocomplete" autocomplete="off">
                    <label for="city">Город</label>
                </div>
            </div>
            <div class="row type-field-row" id="geo-field-row">
                <div class="input-field col s12 l5">
                    <input id="latitude" type="text" name="latitude">
                    <label for="latitude">Широта</label>
                </div>

                <div class="input-field col s12 l5">
                    <input id="longitude" type="text" name="longitude">
                    <label for="longitude">Долгота</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button type="submit" class="waves-effect waves-light btn">Получить погоду</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col s12 l6">
        <?php if ($weather): ?>
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Погода сейчас в <strong><?php echo $weather->name; ?></strong>
                    <?php echo $weather->sys->country; ?>
                </span>
                <div class="collection">
                    <div class="collection-item">
                        <span class="badge"><?php echo $weather->main->temp; ?> ℃</span>Температура
                    </div>
                    <div class="collection-item">
                        <span class="badge"><?php echo $weather->wind->speed; ?> м/с</span>Скорость ветра
                    </div>
                    <div class="collection-item"><span class="badge"><?php echo $weather->weather[0]->description; ?></span>Небо</div>
                </div>
            </div>
        </div>
        <?php endif; ?>
    </div>
</div>
